* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  background-color: #a0ecb1;
}
header {
  width: 100%;
  margin: 1rem auto;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 300px;
  height: 550px;
  background-color: #22252d;
  border-radius: 24px;
  overflow: hidden;
  color: #f7f7f7;
}

.dark-mode-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
}
.dark-mode-btn {
  padding: 1px 1.2rem;
  background-color: #272b33;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode-btn:hover {
  background-color: #191c22;
}
/* Dark Mode Icon */
.material-symbols-outlined {
  color: white;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

.calculation {
  width: 85%;
  margin: 3rem auto 1rem auto;
  text-align: right;
}
.result {
  font-size: xx-large;
  margin-top: 8px;
  font-weight: 700;
}
.controls {
  width: 100%;
  margin: auto;
  height: 100%;
  background-color: #272b33;
  border-radius: 28px;
}
.clear {
  flex-basis: calc((100% / 4) - 24px);
  padding: 16px 0;
}
.allbuttons {
  width: 100%;
  min-height: 66%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 8px;
  
}
