* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #a0ecb1;
}
header {
  width: 100%;
  margin: 1rem auto;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 300px;
  height: 550px;
  background-color: #22252d;
  border-radius: 24px;
  /* overflow: hidden; */
  color: #f7f7f7;
}

.dark-mode-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
}
.dark-mode-btn {
  padding: 1px 1.2rem;
  background-color: #272b33;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform ease-in-out 0.1s;
}
.dark-mode-btn:active {
  transform: translateY(2px);
}

/* Dark Mode Icon */
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
}

.calculation {
  width: 85%;
  margin: 3rem 1.5rem 1rem auto;
  text-align: right;
  overflow-wrap: break-word;
}
.result {
  font-size: xx-large;
  margin-top: 8px;
  font-weight: 700;
}
.controls {
  width: 100%;
  margin: auto;
  background-color: #272b33;
  border-radius: 28px;
  height: 70%;
}
.calc-btn {
  flex-basis: calc((100% / 4) - 24px);
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: rgba(38, 40, 49, 0.5);
  color: white;
  border: none;
  font-weight: bold;
  transition: transform ease-in-out 0.1s;
}
.allbuttons {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}
.allbuttons button:active {
  transform: translateY(3px);
}
.white-btn-mode {
  background-color: #f9f9f9;
  color: #22252d;
}
.white-apperance {
  background-color: #ffffff;
  color: #22252d;
}

.white-controls {
  background-color: #f9f9f9;
}

.white-controls-btns {
  background-color: #f7f7f7;
  color: #22252d;
}
.green {
  color: rgb(0, 255, 204);
}
.red {
  color: lightcoral;
}

footer {
  margin-top: 2rem;
}